<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/axios-0.18.0.js"></script>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <!--不同步提交表单 -->
        <form method="post" action="/user/add" onsubmit="return false">
            姓名<input type="text" name="username" v-model="user.username"><br/>
            生日<input type="date" name="birthday" v-model="user.birthday"><br/>
            性别<input type="text" name="sex" v-model="user.sex"><br/>
            地址<input type="text" name="address" v-model="user.address"><br/>
            <input type="submit" value="提交" @click="add">
        </form>
    </div>
    <script>
        var vue = new Vue({
            el:"#app",
            data:{
                user:{}
            },
            methods:{
                add(){
                    let params=this. user
                    axios.post("/user/add",params).then(response=>{
                        if (response.data.flag) {
                            location.href="/linkMan.html"
                        }
                    })
                }
            }
        });
    </script>
</body>
</html>